* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.body{
    background-image: url("./img/cocinas.blancas.4.png");
}

.blender {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 500px;
    background-image: url(./img/apaga2.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
   
}
.blender.active{
    background-image: url(./img/encendida3.gif)

}
.blender-button {
    margin: 330px 308px;
    width: 55px;
    height: 55px;
    border-radius: 30px;
}
